@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    background-color: rgb(243, 243, 190);
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.container {
    background-color: rgb(181, 231, 235);
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 2%;
    padding: 1rem;
}

.mainBody {
    margin: 1rem 30%;
}

.text-center {
    text-align: center;
}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(8, 8, 57);
    font-size: 2rem;
    font-weight: 900;
    margin: 1rem 0 0 0;
}

.flex-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    flex: 1;
}

button {
    background-color: rgb(89, 144, 179);
    color: white;
    border-radius: 5%;
    font-size: 1.5rem;
    flex: 1;
    max-height: 3.5rem;
}

.numPad,
.operators {
    gap: 1rem;
    width: 50%;
    justify-content: space-between;
}

.operators button {
    height: 100%;
    font-size: 2rem;
}

.footer {
    background-color: brown;
    width: 100%;
    color: white;
    padding: 0.5rem 0;
}

.row1 {
    margin-top: 1rem;
    justify-content: space-between;
}

.row2 {
    margin: 1rem 0;
    justify-content: space-between;
}

.screen {
    background-color: gray;
    width: 100%;
    height: 100px;
    border-radius: 2%;
    justify-content: end;
}

.screen .text {
    font-size: 2rem;
    font-family: "Jersey 25", sans-serif;
    padding-right: 1rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
    margin-bottom: 1rem;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.left button,
.right button {
    width: 30%
}